{
  "username": "somebot",
  "realname": "some smart bot",
  "server": "irc.example.net",
  "serverport": 9999,
  "nick": "somebot",
  "channel": "#botchannel",
  "app_id": "api key from openexchangerates.org",
  "weather_app_id": "api key from openweathermap.org",
  "email": "set-this-email@example.com"
}
